@import "./site-header/site-header.css";
@import "./site-nav/site-nav.css";


.site-container{
    width: 100%;
    height: 100%;

    background-color: rgb(130, 172, 158);
}




.site-main{

    background-color: aliceblue;
}

/*
.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: blue;
}

.site-header-logo{
    width: 60%;
    height: 100%;

    background-color: black;
}

.site-header-logo>img{
    width: 100%;
    height: 100%;
}

.site-header-name{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

*/